@import "../../libs/bootstrap-sass/assets/stylesheets/bootstrap";


.nw-navbar {
  margin-bottom: 0;
}
.nw-logo {
  font-size: 2em;
  font-weight: bold;
  color: #1abc9c!important;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}