@import "../../libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../global/global";
@import "../includes/header";
@import "../includes/footer";
//Hero
.hero-wrapper {
  background: url(../../image/slider/bg-1.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  .hero-overlay {
    position: absolute;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .7;
  }
  .hero-content {
    position: relative;
    align-self: center;
  }
}
.hero-wrapper {
  > img {
    max-width: 1540px;
    width: 100%;
  }
}
.hero-content {
  h1 {
    display: block;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: capitalize;
    color: $base1;
  }
  img {
    margin: 0 0 30px;
  }
  h3 {
    display: block;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 20px;
    color: $base1;
  }
  p {
    color: $base2;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
    span {
      color: $base1;
      font-size: 14px;
      font-weight: 400;
      margin: 0 10px;
      text-transform: uppercase;
    }
  }
  .button {
    margin: 0 5px;
    padding: 0;
    width: 160px;
    color: $base3;
    background-color: $base1;
    &:focus {
      color: $base1;
    }
  }
}
.section-title {
  h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
    &:before {
      position: absolute;
      left: 0;
      top: 56px;
      height: 10px;
      width: 74px;
      background: $base2;
      content: "";
      z-index: 1;
    }
  }
}

//Services
.pricing-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  background: #FAFAFA;
  a.plan-more{
    -webkit-transition: .3s;
    transition: .3s;
    &:hover {
      background: transparent;
      color: #000;
      border: 1px solid $base2;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }
}

.pricing-header {
  i {
    font-size: 40px;
    color: $base2;
  }
  .plan-title {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.plan-price p {
  font-size: 40px;
  color: $base2;
  font-weight: 900;
  span {
    font-size: 16px;
    color: #ccc;
    font-weight: 300;
  }
}

.pricing-box.active {
  .plan-price {
    color: $base2;
  }
}

.plan-features {
  margin-top: 40px;
  li {
    margin: 0;
    padding-bottom: 8px;
    font-size: 16px;
  }
}
a.plan-more {
  margin-top: 30px;
  display: inline-block;
  color: $base1;
  padding: 12px 25px;
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid $base2;
  background-color: $base2;
  font-weight: 600;
  &:hover {
    background: transparent;
    color: #000;
    border: 1px solid $base2;
    -webkit-transition: .3s;
    transition: .3s;
  }
}
//About us
.call-to-area {
  background: $base1;
  background-size: cover;
  padding: 100px 0px;
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    background: $black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }
}

.call-to-area-text {
  h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  p {
    color: #fff;
    margin-bottom: 30px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  a {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #ff1654;
    background-color: #ff1654;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
      background: transparent;
      color: #fff;
      border: 1px solid #ff1654;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }
}

//Team
.single-team {
  margin-top: 30px;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  &:hover {
    .team-social {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
}

.team-social {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: .3s;
  transition: .3s;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        display: block;
        color: #FF1654;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        background: #000;
        border-bottom: 1px solid #ccc;
        &:hover {
          color: #fff;
        }
      }
    }
  }

}

.single-team {
  img {
    width: 100%;
  }
  h4 {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
  }
  h6 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.team-description {
  border-top: 2px solid #FF1654;
  margin-top: 15px;
  background: #F7F7F7;
  padding: 20px 30px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}